@model TrialDetailsViewModel

<h2 class="text-center">@Model.Title</h2>
<hr />

<div class="d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <p class="card-text">@Model.Description</p>

            @if (!Model.IsLocked)
            {
                <h2 class="text-center mt-2 mb-1">The following resources will assist you in your completion of this trial.</h2>

                foreach(ResourceDetailsViewModel resource in Model.Resources)
                {
                    <p class="card-text">@resource.Name</p>
                    <a href="@resource.Url" target="_blank" class="btn btn-warning mb-2">Access resource</a>
                }
            }
            else
            {
                <partial name="_LockedPartial" />
            }
        </div>
    </div>
</div>