@model TrialDetailsViewModel

<h2 class="text-center">@Model.Title</h2>
<hr />

<div class="d-flex justify-content-center">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <p class="card-text">@Model.Description</p>

            @if (!Model.IsLocked)
            {
                <partial name="_ResourcePreviewPartial" model="@Model.Resources" />
            }
            else
            {
                <h2 class="text-center text-danger bg-dark">[+++THIS TRIAL HAS BEEN TEMPORARILY LOCKED. AWAIT FURTHER DEVELOPMENTS+++]</h2>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}