@model TrialFormViewModel

@{
    ViewData["Title"] = "Edit Trial Details";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<h4 class="mb-3 text-center text-danger">Always consult with the High Inquisitor prior to modifying a trial's details.</h4>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Edit trial title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Edit trial description</label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ScoreToPass" class="form-label">Edit the minimum score required to pass the trial (does not affect acolytes who have already passed)</label>
                <input asp-for="ScoreToPass" class="form-control" />
                <span asp-validation-for="ScoreToPass" class="text-danger"></span>
            </div>
            <label><input asp-for="IsLocked" class="mb-2 m-lg-2" type="checkbox" value="" onchange="this.value=this.checked" />Select this checkbox to lock the trial</label>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Edit trial details" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
