@using SithAcademy.Services.Data.Interfaces;
@using SithAcademy.Web.Infrastructure.Extensions;
@inject IOverseerService OverseerService
@{
    string userId = User.GetId()!;
    string overseerId = await OverseerService.GetOverseerIdAsync(userId);
    string overseerTitle = await OverseerService.GetOverseerTitleAsync(overseerId);
}

<h3 class="mb-4">Welcome, @overseerTitle</h3>
<div class="container text-start">
    <p class="mb-2">You can modify your academy's details from the Academy Panel section.</p>
    <p class="mb-2">You can review homeworks from the Homeworks Panel section.</p>
</div>

