@model OverseerDetailsViewModel
@{
    ViewData["Title"] = "Demote Overseer";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    <h4>Demoting all overseers in an academy would transfer all of the homework grading to you.</h4>
</div>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-area="Admin" asp-controller="User" asp-action="Demote" method="post">
            <p>Overseer: @Model.Title</p>
            <p>Current academy: @Model.CurrentAcademyTitle</p>
            <input type="submit" value="Demote" class="btn btn-danger" onclick="return confirm('Are you sure you want to demote @Model.Title?')" />
        </form>
    </div>
</div>