@model OverseerFormViewModel

@{
    ViewData["Title"] = "Promote Overseer";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-area="Admin" asp-controller="User" asp-action="Promote" method="post">
            <div class="form-group">
                <label asp-for="Title">Enter a title for your new overseer</label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademyId">Select academy</label>
                <select asp-for="AcademyId" class="form-control">
                    @foreach (AcademyDropdownViewModel academy in Model.Academies)
                    {
                        <option value="@academy.Id">@academy.Title</option>
                    }
                </select>
                <span asp-validation-for="AcademyId" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-success mt-3" type="submit" value="Promote" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
