@{
    ViewData["Title"] = "About";
}
<div class="align-content-md-start">
    <h1>@ViewData["Title"]</h1>
    <p>The Sith Academy is a course project for SoftUni's ASP.NET Advanced course.</p>
</div>

