@model IEnumerable<IncompleteTrialViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row">
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <partial name="_AcolyteHomePartial" model="Model.ToArray()" />
        }
        else
        {
            <div class="container text-start">
                <p class="mb-0">Another hopeful seeking to join the ranks of the Sith? Many take on the path, but few complete it.</p>
                <a class="text-danger m-0 pt-0" asp-area="Identity" asp-page="/Account/Register">Enter, if you have the courage...</a>
                <p></p>
                <p class="mb-0">Already a member?</p>
                <a class="text-danger m-0 pt-0" asp-area="Identity" asp-page="/Account/Login">Identify yourself!</a>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}